# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.*
*.env

# Python
__pycache__/
*.pyc
*.pyo
venv/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ML models / weights (DO NOT COMMIT)
*.bin
*.pt
*.ckpt
backend/models/flan_t5_large_local_trained/
